*{
    margin: 0;
    padding: 0;
}
.container{
    padding: 20px;
    margin: auto;
    min-height: 500px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightslategray;
    display: grid;
    justify-content: center;
    align-items: center;
    
    grid-template-columns: repeat(4,1fr);
    /* grid-template-areas: 
    'input'
    'b7 b8 b9 divide'
    'b4 b5 b6 multiply'
    'b1 b2 b3 minus'
    'b0 point plus eq'
    ;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 80px 1fr 90px; */
}

.container input{
    border: 2px solid black;
    
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 30px;
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    
}

.input{
    grid-column: 1/5;
    
    
   
}
.container button{
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-size: 30px;
    font-weight: bolder;
    
}

.item-beq button{
   background-color: brown;

}

/* 
.input{
    grid-area: input;
}

.item-b7{
    grid-area: b7;
}
.item-b8{
    grid-area: b7;
}
.item-b9{
    grid-area: b7;
}
.item-bd{
    grid-area: divide;
}
.item-b4{
    grid-area: b4;
}
.item-b5{
    grid-area: b5;
}
.item-b6{
    grid-area: b6;
}
.item-bm{
    grid-area: multiply;

}
.item-b1{
    grid-area: b1;

}
.item-b2{
    grid-area: b2;

}
.item-b3{
    grid-area: b3;

}
.item-bmin{
    grid-area: minus;

}
.item-b0{
    grid-area: b0;

}
.item-bp{
    grid-area: point;

}
.item-bplus{
    grid-area: plus;

}
 */